body{
    background: linear-gradient(to right,#2712e2,#86253a);
    overflow: hidden;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color: aqua;
    font-size: 40px;
    padding: 0;
    margin: 0;
}
.main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-field{
    background-color: antiquewhite;
    border: #2712e2 4px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 450px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}
.name{
    display: flex;
    justify-content: space-between;
    padding-bottom: 4px;
    width: 100%;
}
.name input{
    width: 44%;
}
.user-input{
    display: flex;
    padding: 4px;
}
input{
    width: 100%;
    height: 22px;
    padding: 10px;
    border: #2712e2 1px solid;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
}
.birth{
    display: flex;
    justify-content: space-around;
    padding-bottom: 4px;
    text-align: center;
}
.selection{
    display: flex;
    flex-direction: column;
    width: 28%;
    padding: 10px;
    border: #2712e2 1px solid;
    border-radius: 8px;
    background-color: #ffffff;
    padding-bottom: 4px;
    padding-top: 1px;
    color: #757575;
}
.birth .selection select{
    border-radius: 8px;
    font-size: 15px;
}
.gender-width{
    display: flex;
    flex-direction: column;
}
.gender{
    display: flex;
    flex-direction: column;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 50%;
    border: #2712e2 solid 6px;
    border-radius: 12px;
    background-color: #2712e2;
    color: #ffffff;
    font-size: 30px;
    padding: 2px;
}